[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:borja-rojo-ilvento/kickstart.nvim.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:borja-rojo-ilvento/kickstart.nvim.git
